
.manage-users-search-row{
    margin-bottom: 3rem;
}

.manage-users-user {
    margin-bottom: 1rem;
}

.admin-name {
    margin-bottom: 0px;
}

.admin-email {
    font-size: 80%;
    margin-bottom: 0px;
}

.admin-rating {
    font-size: 80%;
    margin-bottom: 0px;
}
