// Override Bootstrap default colors

$primary:       #A8D0E6;
$secondary:     #374785;
$success:       #24305E;
$info:          #A8D0E6;
$warning:       #F8E9A1;
$danger:        #F76C6C;

body {
  background-color: #f5f5f5;
}

@import "../vendors/bootstrap/bootstrap";