// Override Bootstrap default colors

$primary:       #A8D0E6;
$secondary:     #374785;
$success:       #24305E;
$info:          #A8D0E6;
$warning:       #F8E9A1;
$danger:        #F76C6C;

body {
    background-color: #f5f5f5;
}

@import "../vendors/bootstrap/bootstrap";

.mt-3m {
  margin-top: -1rem;
}


.search-bg {
    width: 100vw;
    position: relative;
    background-color: $gray-100;
    left: calc(-1 * (100vw - 100%) / 2);
    min-height: calc(100vh - 50px);
}

.drive-gray-bg {
    width: 100vw;
    position: relative;
    background-color: $gray-100;
    left: calc(-1 * (100vw - 100%) / 2);
    min-height: calc(100vh - 200px);
}

.blue-strip-fw {
    width: 100vw;
    position: relative;
    background-color: $info;
    left: calc(-1 * (100vw - 100%) / 2);
}

.h-100px {
    min-height: 50px;
}

.border-r-5 {
    border-radius: 5px;
}

.border-rb-5 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mycom-drive-kind {
    color: #fff;
    font-size: 24px;
}

.archive-search-card-pc {
    border-style: solid;
    border-width: 0px 0px 0px 1px;
}

.push-to-bottom {
  position: absolute;
}

.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
follow these rules. Every browser that supports :checked also supports :not(), so
it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    /* padding:0 .1em; */
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:300%;
    /* line-height:1.2; */
    color:#ddd;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: dodgerblue;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: dodgerblue;

}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: dodgerblue;

}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}