<div class="row">
</div>
<div class="row">
    <div class="col">
        <form id="user-form" class="col-md-7">
            <div id="user-settings" class="form-group">
                <div class="col">
                    <label for="set-email" class="col-md-4">Email</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="set-email"  required
                               pattern=".{4,}">
                        <small id="edit-email-help" class="form-text text-muted">Minimum 4 characters.</small>
                    </div>
                </div>
                <div class="col">
                    <label for="set-email" class="col-md-4">Email</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="set-email"  required
                               pattern=".{4,}">
                        <small id="edit-email-help" class="form-text text-muted">Minimum 4 characters.</small>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col">

    </div>
</div>