<div class="row">
</div>
<div class="row">
    <div class="col-6">
        <form id="user-form" class="col-md">
            <div id="user-settings" class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="set-email" class="col-md">First Name</label>
                        <div class="col-md">
                            <input type="text" class="form-control" id="set-firstname"  required
                                   pattern=".{4,}">
                            <small id="edit-email-help" class="form-text text-muted">Minimum 4 characters.</small>
                        </div>
                    </div>
                    <div class="col">
                        <label for="set-email" class="col-md">Last Name</label>
                        <div class="col-md">
                            <input type="text" class="form-control" id="set-firstname"  required
                                   pattern=".{4,}">
                            <small id="edit-email-help" class="form-text text-muted">Minimum 4 characters.</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="set-email" class="col-md">Date</label>
                        <div class="col-md">
                            <input type="text" class="form-control" id="set-date"  required
                                   pattern=".{4,}">
                            <small id="edit-email-help" class="form-text text-muted">Minimum 4 characters.</small>
                        </div>
                    </div>
                    <div class="col">
                        <label for="set-email" class="col-md">Time</label>
                        <div class="col-md">
                            <input type="text" class="form-control" id="set-time"  required
                                   pattern=".{4,}">
                            <small id="edit-email-help" class="form-text text-muted">Minimum 4 characters.</small>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-6">

    </div>
</div>