<h1>Manage users</h1>
<div class="row manage-users-search-row">
    <div class="col-md-5">
        <input type="text" class="form-control" id="search-name" placeholder="Name">
    </div>
    <div class="col-md-5">
        <input type="text" class="form-control" id="search-email" placeholder="Email">
    </div>
    <div class="col-md-2">
        <button id="submit-user" type="submit" class="w-100 btn btn-primary">Search</button>
    </div>
</div>
<div class="card manage-users-user">
    <div class="card-body">
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-8">
                        <p class="admin-name">Hedda Malmström, 24</p>
                        <p class="admin-email">ine14@något.lu.se</p>
                    </div>
                    <div class="col-md-4">
                        <p class="admin-rating">0.3 rating</p>
                        <p class="admin-rating">123 warnings</p>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4">
                        <button id="edit-profile" type="button" class="w-100 btn btn-primary">Edit profile</button>
                    </div>
                    <div class="col-md-4">
                        <button id="give-warning" type="button" class="w-100 btn btn-warning    ">Give warning</button>
                    </div>
                    <div class="col-md-4">
                        <button id="delete-account" type="button" class="w-100 btn btn-danger">Delete account</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card manage-users-user">
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="admin-name">Hedda Malmström, 24</p>
                            <p class="admin-email">ine14@något.lu.se</p>
                        </div>
                        <div class="col-md-4">
                            <p class="admin-rating">0.3 rating</p>
                            <p class="admin-rating">123 warnings</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-4">
                            <button id="edit-profile" type="button" class="w-100 btn btn-primary">Edit profile</button>
                        </div>
                        <div class="col-md-4">
                            <button id="give-warning" type="button" class="w-100 btn btn-warning    ">Give warning</button>
                        </div>
                        <div class="col-md-4">
                            <button id="delete-account" type="button" class="w-100 btn btn-danger">Delete account</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
