<div class="container">
    <div class="row">
        <div class="col text-right">
            <button type="button" class="btn-lg btn-outline-primary btn-rounded">Drives</button>
        </div>
        <div class="col text-center">
            <button type="button" class="btn-lg btn-primary btn-rounded">Trips</button>
        </div>
        <div class="col text-left">
            <button type="button" class="btn-lg btn-primary btn-rounded">Archive</button>
        </div>
    </div>
    <div class="container trip-container">
        <div class="row" id="trip-row">
            <div class="col search-card mt-5">
                <div class="col my-4">
                    <div class="row">
                        <p>Upcoming drives</p>
                        <hr class="my-com-hr">
                    </div>
                    <div class="card my-3">
                        <div class="search-card-body my-1">
                            <div class="row">
                                <div class="col-2 search-card-pc-outer-left">
                                    <p class="card-head">Jon</p>
                                    <p>Male, 23</p>
                                    <p>55 driven</p>
                                    <p>4.4</p>
                                    <p>18 reviews</p>
                                </div>
                                <div class="col-4 search-card-pc">
                                    <p class="card-head">Gothenburg to Lund</p>
                                    <p>Leaving Wednesday, September 19 at 18:30</p>
                                    <br>
                                    <p>Pick Gothenburg</p>
                                    <p>Dropoff Halmstad</p>
                                </div>
                                <div class="col-4 search-card-pc">
                                    <p class="card-head">Audi Cool model Super</p>
                                    <p>Turbo car(not for slow people)</p>
                                </div>
                                <div class="col-2 search-card-pc-outer-right">
                                    <p class="card-head">2 Seats left</p>
                                    <button type="submit" class="btn btn-primary search-request-btn">Request</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card my-3">
                        <div class="search-card-body my-1">
                            <div class="row">
                                <div class="col-2 search-card-pc-outer-left">
                                    <p class="card-head">Jon</p>
                                    <p>Male, 23</p>
                                    <p>55 driven</p>
                                    <p>4.4</p>
                                    <p>18 reviews</p>
                                </div>
                                <div class="col-4 search-card-pc">
                                    <p class="card-head">Gothenburg to Lund</p>
                                    <p>Leaving Wednesday, September 19 at 18:30</p>
                                    <br>
                                    <p>Pick Gothenburg</p>
                                    <p>Dropoff Halmstad</p>
                                </div>
                                <div class="col-4 search-card-pc">
                                    <p class="card-head">Audi Cool model Super</p>
                                    <p>Turbo car(not for slow people)</p>
                                </div>
                                <div class="col-2 search-card-pc-outer-right">
                                    <p class="card-head">2 Seats left</p>
                                    <button type="submit" class="btn btn-primary search-request-btn">Request</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<script src="js/custom/rest.js"></script>
<script src="js/custom/my-commutes.js"></script>
<script type="application/javascript">
    window.base.myCommutesController.initOnLoad();
</script>