<div class="container text-center">
    <div class="row">
        <div class="btn-group w-100" role="group">
            <button type="button" id="drive-btn" class="btn-lg btn-primary btn-rounded w-100">Drives</button>
            <button type="button" id="trip-btn" class="btn-lg btn-primary btn-rounded w-100">Trips</button>
            <button type="button" id="archive-btn" class="btn-lg btn-primary btn-rounded w-100">Archive</button>
        </div>
    </div>
</div>

<!--Drive tab-->
<div class="container mycom-container position-static" id="drive-container">
    <div class="row" id="trip-row">
        <div class="col search-card mt-5">
            <div class="col my-4">
                <div class="row">
                    <p class="mycom-drive-kind">Upcoming drives</p>
                    <hr>
                </div>
                <div class="card mt-3 mb-5">
                    <div class="search-card-body my-1">
                        <div class="row">
                            <div class="col-2 search-card-pc-outer-left">
                                <p class="card-head">Jon</p>
                                <p>Male, 23</p>
                                <p>55 driven</p>
                                <p>4.4</p>
                                <p>18 reviews</p>
                            </div>
                            <div class="col-4 search-card-pc">
                                <p class="card-head">Gothenburg to Lund</p>
                                <p>Leaving Wednesday, September 19 at 18:30</p>
                                <br>
                                <p>Pick Gothenburg</p>
                                <p>Dropoff Halmstad</p>
                            </div>
                            <div class="col-4 search-card-pc">
                                <p class="card-head">Audi Cool model Super</p>
                                <p>Turbo car(not for slow people)</p>
                            </div>
                            <div class="col-2 search-card-pc-outer-right">
                                <div class="row">
                                    <button id="edit-btn" type="submit" class="btn btn-primary mycom-btn ml-3 my-3 w-75">Edit</button>
                                </div>
                                <div class="row">
                                    <button type="submit" class="btn btn-danger mycom-btn ml-3 my-3 w-75">Cancel</button>
                                </div>
                                <div class="row">
                                    <button type="submit" class="btn btn-success mycom-btn ml-3 my-3 w-75">Complete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p class="mycom-drive-kind">Past drives</p>
                    <hr>
                </div>
                <div class="card mt-3 mb-5" id="drive-card-1">
                    <div class="search-card-body my-1">
                        <div class="row">
                            <div class="col-2 search-card-pc-outer-left">
                                <p class="card-head">Jon</p>
                                <p>Male, 23</p>
                                <p>55 driven</p>
                                <p>4.4</p>
                                <p>18 reviews</p>
                            </div>
                            <div class="col-4 search-card-pc">
                                <p class="card-head">Gothenburg to Lund</p>
                                <p>Leaving Wednesday, September 19 at 18:30</p>
                                <br>
                                <p>Pick Gothenburg</p>
                                <p>Dropoff Halmstad</p>
                            </div>
                            <div class="col-4 search-card-pc">
                                <p class="card-head">Audi Cool model Super</p>
                                <p>Turbo car(not for slow people)</p>
                            </div>
                            <div class="col-2 search-card-pc-outer-right">
                                <div class="row">
                                    <button type="submit" class="btn btn-primary mycom-past-btn ml-3 mt-5 w-75" id="drive-rate-modalTrigger">Rate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Trip tab-->
<div class="container mycom-container position-static" id="trip-container">
    <div class="row" id="trip-row">
        <div class="col search-card mt-5">
            <div class="col my-4">
                <div class="row">
                    <p class="mycom-drive-kind">Upcoming trips</p>
                    <hr>
                </div>
                <div class="card mt-3 mb-5">
                    <div class="search-card-body my-1">
                        <div class="row">
                            <div class="col-2 search-card-pc-outer-left">
                                <p class="card-head">Jon</p>
                                <p>Male, 23</p>
                                <p>55 driven</p>
                                <p>4.4</p>
                                <p>18 reviews</p>
                            </div>
                            <div class="col-5 search-card-pc">
                                <p class="card-head">Gothenburg to Lund</p>
                                <p>Leaving Wednesday, September 19 at 18:30</p>
                                <br>
                                <p>Pick Gothenburg</p>
                                <p>Dropoff Halmstad</p>
                            </div>
                            <div class="col-5 archive-search-card-pc">
                                <p class="card-head">Audi Cool model Super</p>
                                <p>Turbo car(not for slow people)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p class="mycom-drive-kind">Past trips</p>
                    <hr>
                </div>
                <div class="card mt-3 mb-5"  id="trip-card-2">
                    <div class="search-card-body my-1">
                        <div class="row">
                            <div class="col-2 search-card-pc-outer-left">
                                <p class="card-head">Jon</p>
                                <p>Male, 23</p>
                                <p>55 driven</p>
                                <p>4.4</p>
                                <p>18 reviews</p>
                            </div>
                            <div class="col-4 search-card-pc">
                                <p class="card-head">Gothenburg to Lund</p>
                                <p>Leaving Wednesday, September 19 at 18:30</p>
                                <br>
                                <p>Pick Gothenburg</p>
                                <p>Dropoff Halmstad</p>
                            </div>
                            <div class="col-4 search-card-pc">
                                <p class="card-head">Audi Cool model Super</p>
                                <p>Turbo car(not for slow people)</p>
                            </div>
                            <div class="col-2 search-card-pc-outer-right">
                                <div class="row">
                                    <button type="submit" class="btn btn-primary mycom-past-btn ml-3 mt-5 w-75" id="trip-rate-modalTrigger">Rate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Archive tab-->
<div class="container mycom-container position-static" id="archive-container">
    <div class="row" id="trip-row">
        <div class="col search-card mt-5">
            <div class="col my-4">
                <div class="row">
                    <p class="mycom-drive-kind">Drives</p>
                    <hr>
                </div>
                <div class="card mt-3 mb-5">
                    <div class="search-card-body my-1">
                        <div class="row">
                            <div class="col-2 search-card-pc-outer-left">
                                <p class="card-head">Jon</p>
                                <p>Male, 23</p>
                                <p>55 driven</p>
                                <p>4.4</p>
                                <p>18 reviews</p>
                            </div>
                            <div class="col-5 search-card-pc">
                                <p class="card-head">Gothenburg to Lund</p>
                                <p>Leaving Wednesday, September 19 at 18:30</p>
                                <br>
                                <p>Pick Gothenburg</p>
                                <p>Dropoff Halmstad</p>
                            </div>
                            <div class="col-5 archive-search-card-pc">
                                <p class="card-head">Audi Cool model Super</p>
                                <p>Turbo car(not for slow people)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p class="mycom-drive-kind">Trips</p>
                    <hr>
                </div>
                <div class="card mt-3 mb-5">
                    <div class="search-card-body my-1">
                        <div class="row">
                            <div class="col-2 search-card-pc-outer-left">
                                <p class="card-head">Jon</p>
                                <p>Male, 23</p>
                                <p>55 driven</p>
                                <p>4.4</p>
                                <p>18 reviews</p>
                            </div>
                            <div class="col-5 search-card-pc">
                                <p class="card-head">Gothenburg to Lund</p>
                                <p>Leaving Wednesday, September 19 at 18:30</p>
                                <br>
                                <p>Pick Gothenburg</p>
                                <p>Dropoff Halmstad</p>
                            </div>
                            <div class="col-5 archive-search-card-pc">
                                <p class="card-head">Audi Cool model Super</p>
                                <p>Turbo car(not for slow people)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>