<h1>Reported drives</h1>

<div class="card reported-drives">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-10">
                <div class="card reported-drives">
                    <div class="card-header">
                        <h5 class="card-title">Gothenburg to Lund, 2023-20-10 25:85</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <p class="card-text">Driver: Jon Stålhammar</p>
                                <p class="card-text">Reported by: Hedda Malmström</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text"> Rating 0.4 | 123 warnings</p>
                                <p class="card-text"> Rating 0.4 | 44 warnings</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card reported-drives">
                    <div class="card-header">
                        <h5 clas="card-title">Comment</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">He tried to hit me n' stuff.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <button id="dismiss-report" type="button" class="btn btn-block btn-success">Dismiss report</button>
                <button id="warn-driver" type="button" class="btn btn-block btn-warning">Warn driver</button>
                <button id="warn-reporter" type="button" class="btn btn-block btn-warning">Warn reporter</button>
                <button id="remove-driver" type="button" class="btn btn-block btn-danger">Remove driver</button>
                <button id="remove-reporter" type="button" class="btn btn-block btn-danger">Remove reporter</button>
                <button id="delete-drive" type="button" class="btn btn-block btn-danger">Delete drive</button>
            </div>
        </div>
    </div>
</div>
<div class="card reported-drives">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-10">
                    <div class="card reported-drives">
                        <div class="card-header">
                            <h5 class="card-title">Gothenburg to Lund, 2023-20-10 25:85</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <p class="card-text">Driver: Jon Stålhammar</p>
                                    <p class="card-text">Reported by: Hedda Malmström</p>
                                </div>
                                <div class="col-4">
                                    <p class="card-text"> Rating 0.4 | 123 warnings</p>
                                    <p class="card-text"> Rating 0.4 | 44 warnings</p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card reported-drives">
                        <div class="card-header">
                            <h5 clas="card-title">Comment</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">He tried to hit me n' stuff.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <button id="dismiss-report" type="button" class="btn btn-block btn-success">Dismiss report</button>
                    <button id="warn-driver" type="button" class="btn btn-block btn-warning">Warn driver</button>
                    <button id="warn-reporter" type="button" class="btn btn-block btn-warning">Warn reporter</button>
                    <button id="remove-driver" type="button" class="btn btn-block btn-danger">Remove driver</button>
                    <button id="remove-reporter" type="button" class="btn btn-block btn-danger">Remove reporter</button>
                    <button id="delete-drive" type="button" class="btn btn-block btn-danger">Delete drive</button>
                </div>
            </div>
        </div>
    </div>