<h1>Account settings</h1>
<div class="row">
    <form id="user-form" class="col-md-7">
        <div id="user-settings" class="form-group">
            <div class="row my-2">
                <label for="set-firstname" class="col-md-4">First name</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="set-firstname" pattern="[A-Za-z]{0,}">
                    <small id="edit-firstname-help" class="form-text text-muted">Only letters</small>
                </div>
            </div>
            <div class="row my-2">
                <label for="set-lastname" class="col-md-4">Last name</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="set-lastname" pattern="[A-Za-z]{0,}">
                    <small id="edit-lastname-help" class="form-text text-muted">Only letters</small>
                </div>
            </div>
            <div class="row my-2">
                <label class="col-md-4">Gender</label>
                <div class="col-md-8">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="set-female" name="set-gender" class="custom-control-input"
                               value="female">
                        <label class="custom-control-label" for="set-female">Female</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="set-male" name="set-gender" class="custom-control-input" value="male">
                        <label class="custom-control-label" for="set-male">Male</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="set-other" name="set-gender" runat="server" class="custom-control-input" value="male">
                        <label class="custom-control-label" for="set-other">Other</label>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <label class="col-md-4">Driving license</label>
                <div class="col-md-8" id="license">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="set-license-true" name="set-license" class="custom-control-input"
                               value="true">
                        <label class="custom-control-label" for="set-license-true">Yes</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="set-license-false" name="set-license" class="custom-control-input"
                               value="false">
                        <label class="custom-control-label" for="set-license-false">No</label>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <label for="set-phone-number" class="col-md-4">Phone number</label>
                <div class="col-md-8">
                    <input pattern="^(\+|0)\d{6,}$" type="tel" class="form-control" id="set-phone-number"
                           data-content="Must start with + or 0 and be at least 7 digits" data-toggle="popover"
                           data-trigger="focus">
                </div>
            </div>
            <div class="row my-2">
                <label for="set-password" class="col-md-4">New password</label>
                <div class="col-md-8">
                    <input type="password" class="form-control" id="set-password" pattern=".{8,}">
                    <small id="edit-password-help" class="form-text text-muted">Minimum 8 characters.</small>
                </div>
            </div>
            <div class="row my-2">
                <label class="col-md-4">Confirm new password</label>
                <div class="col-md-8">
                    <input title="confirm-password" type="password" class="form-control" id="set-password-confirm" pattern=".{8,}">
                </div>
            </div>
            <div class="row my-5">
                <div class="col-6">
                    <button id="submit-user" type="submit" class="w-100 btn btn-primary">Submit</button>
                </div>
                <div class="col-6">
                    <button id="clear-changes" type="reset" class="w-100 btn btn-secondary">Clear changes</button>
                </div>
            </div>
        </div>
    </form>
    <div id="user-settings-information" class="col-md-5 my-2">
        <div id="user-profile-alert-box"></div>
        <button id="delete-account" type="button" class="w-100 btn btn-danger">Delete account</button>
    </div>
</div>
